.navbar a:hover {
    background-image: linear-gradient(45deg, #585858, #f3f3f3);
    background-color: #e60a48;
    /* display: none; */
  }
  /* .navbar a:hover i {
    display: inline;
  } */
  /* .navbar a i {
    display: none;
  } */
  .navbar .active{
    background-image: linear-gradient(45deg, #585858, #f3f3f3);
  }
    /* header */
    
    nav img{
    padding-top:5px;
    width: 120px;
      height:120px;
      display: inline;
    }
    header{
    padding: 40px;
    }
    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    .navbar-default .navbar-toggle {
    border-color: white;
    top:30px;
    }
    .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    border-color: #065656;
    }
    .navbar-default .navbar-toggle:hover{
    background-color: white;
    
    }
    .navbar-default .navbar-toggle:hover .icon-bar {
      background-color:  #1a1f1f;
    }
    
    .navbar {
    width: 100%;
    border: none;
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
    /* background-image: url('image.jpg'); */
    background-size: cover;
      /* opacity: 0.2; */
    }
    @media(max-width:767px){
      .navbar{
        overflow: visible;
      }
    }
    .navbar .navbar-right{
    margin: 0 0 0 0;
    }
    .navbar a {
    margin-left: 20px;
    margin-top: 17px;
      text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    /* color: cornflowerblue; */
    font-size: 25px;
    padding: 0 10px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #e60a48);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
    }
    @media(max-width:1221px){
      .navbar a{
        font-size: 20px;
        padding:0 3px;
      }
    }
    .navbar ul a:hover {
    /* background-color: white; */
    color:cornflowerblue;
    border-radius: 20px; 
    padding: 5px;
    } 
    .navbar ul{
    float: right;
    position: relative;
    padding-right: 60px;
    padding-top: 25px;
    
    }
    
    /* .navbar .navbar-right{
      position:absolute;
    } */
    
    @media (max-width: 1000px) and (min-width:769px) {
    .navbar a{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5px;
    }
    .navbar ul{
      padding-right: 10px;
      padding-top:20px;
    }
    .navbar ul a i{
      padding: 10px;
    }
    }
    
    @media (max-width: 767px) {	
    .navbar ul{
    float: none;
    padding-right: 0;
    padding: 0 0 0 0;
    margin: 0 0 0;
    }
    .navbar{
    height: auto;
    }
    
    .navbar a{
    margin-left: 0;
    float: none;
    width: 100%;
    /* display: block; */
      text-align: center;
      font-size: 18px;
    
    }
    .navbar a img{
    align-content: center;
    }
    .header ul a{
      float: none;
      display: block;
      text-align: center;
      padding-bottom: 10px;
    
    }
    html, body {
    overflow-x: hidden;
    }
    body {
    width:100%;
    }
    /* .navbar .navbar-right{
      position:relative;
    } */
    }
    html,body{
      overflow-y: auto;
    }
    #mobilelogo{
      display:none;
    }
    @media(max-width:768px){
      .navbar .navbar-right a.logo{
        display: none;
      }
      #mobilelogo{
        display: inline;
      }
     .navbar a{
        /* text-align: left; */
        display: inline;
      }
      #mobilelogo img{
        margin:8px;
      }
    }
    
    /*header end*/
    
    
    @import url("https://fonts.googleapis.com/css?family=Contrail+One|Passion+One|Quicksand");
    #textmain {
      color: white;
      font-family: "Contrail One", cursive;
      font-size: 120px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -5;
    }
    
    #tagline {
      color: white;
      font-family: "Quicksand", sans-serif;
      font-style: underline;
      font-size: 30px;
      position: relative;
      top: 60%;
      left: 40%;
      z-index: -5;
    }
    
    .particle-network-animation {
      z-index:-1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: #171717;
    }
    .particle-network-animation::before {
      z-index: -2;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /* background-image: url('./image.jpg'); */
      background-color:black;
      background-position: center center;
      background-size: cover;
      /* opacity: 0.2; */
    }
    
    .glow {
      z-index: -1;
      position: fixed;
      top: 50%;
      left: 50%;
      background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
    }
    
    .glow-1 {
      width: 150vw;
      height: 150vh;
      margin-top: -75vh;
      margin-left: -75vw;
      animation: glow-1-move 25s linear infinite both;
    }
    
    @keyframes glow-1-move {
      from {
        transform: translate(-100%, 100%);
      }
      to {
        transform: translate(100%, -100%);
      }
    }
    .glow-2 {
      z-index:-1;
      width: 100vw;
      height: 100vh;
      margin-top: -50vh;
      margin-left: -50vw;
      animation: glow-2-move 25s linear 8.3333333333s infinite both;
    }
    
    @keyframes glow-2-move {
      from {
        transform: translate(-100%, 0%);
      }
      to {
        transform: translate(100%, 100%);
      }
    }
    .glow-3 {
      z-index:-1;
      width: 120vw;
      height: 120vh;
      margin-top: -60vh;
      margin-left: -60vw;
      animation: glow-3-move 25s linear 16.6666666667s infinite both;
    }
    
    @keyframes glow-3-move {
      from {
        transform: translate(100%, 100%);
      }
      to {
        transform: translate(0%, -100%);
      }
    }
    canvas{
      position: absolute;
        top: 0;
        height:max-content;
    }
    /* footer */
    footer p{
      color:white;
      z-index:3;
    }
  
    /* footer end */
  
  
  
  /* description start */
  .content{
    position: relative;
    bottom: 50px;
    overflow-y: hidden;
  }
  @media(max-width:767px){
    .content{
    padding-top: 0px;
    }
  }
  
  
  .content li{
    font-size: 14px;
  }
  .content-box {
    background-color: #fafafb;
    box-shadow: 3px 6px 10px rgba(167, 163, 163);
    transition: all .3s ease-in-out;
    padding: 15px;
    text-align: left;
    /* padding-bottom: 0; */
    margin-top: 40px;
    margin-bottom: 10px;
    /* height: 300px; */
    overflow-y: hidden;
  }
  .content-box .finbyz-icon {
    height: 100px;
    width: 100px;
    display: inline;
  }
  /* @media (max-width:1280px)
  {
  .content-box{
      height: 270px;
  }
  } */
  @media (min-width:990px)
  {
  .content-box{
      height: 330px;
     
  }
  }
  .content h4{
    padding-bottom: 5px;
    font-size: 16px;
    /* color:red; */
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #d60e0e, #e5f324);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  
  
  /* upload */
  /* h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 1;
    color: #454cad;
    margin-bottom: 0;
  }
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #5f6982;
  } */
  form{
    padding-top:110px;
    padding-bottom: 130px;
  }
  
  .uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  .uploader label {
    /* float: left; */
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .uploader label:hover {
    border-color: #f0692a;
  }
  .uploader label.hover {
    border: 3px solid #f0692a;
    box-shadow: inset 0 0 0 6px #eee;
  }
  .uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
  }
  .uploader #start {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #start.hidden {
    display: none;
  }
  .uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
  }
  .uploader #response {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #response.hidden {
    display: none;
  }
  .uploader #response #messages {
    margin-bottom: 0.5rem;
  }
  .uploader #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
  }
  .uploader #file-image.hidden {
    display: none;
  }
  .uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #notimage.hidden {
    display: none;
  }
  .uploader progress,
  .uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }
  .uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  .uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #fd7535 0%, #f0692a 50%);
    border-radius: 4px;
  }
  .uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #fd7535 0%, #f0692a 50%);
    border-radius: 4px;
  }
  .uploader input[type=file] {
    display: none;
  }
  .uploader div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
  }
  .uploader .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #f0692a;
    border-color: #f0692a;
    cursor: pointer;
  }