<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diabetes | HealTrace</title>
  <script src="https://kit.fontawesome.com/a507955c58.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="{{url_for('static', filename='images/logo2.png')}}" rel="icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">

  <!-- form link start  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <!-- form link end  -->

</head>

<body>

  <div class='particle-network-animation'>
  </div>
  <div class="header">

    <nav class="navbar navbar-default" id="start">
      <div class="navbar-header">
        <div id="mobilelogo"><a href="index.html" class="logo"> <img src="{{url_for('static', filename='images/logo3.png')}}" alt="Logo" height="80px"
              width="80px"> </a></div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="navbar navbar-right ">
          <a href="index.html" class="logo"> <img src="{{url_for('static', filename='images/logo3.png')}}" alt="Logo" height="80px" width="80px"> </a>
          <ul>
            <a href="index.html"><span>Home</span></a>
            <a href="tumor.html"><span>Tumor</span></a>
            <a href="heart_attack.html"><span>Heart Attack</span></a>
            <a class="active" href="diabetes.html"><span>Diabetes</span></a>
            <a href="corona.html"><span>Coronavirus</span></a>
            <a href="about.html"><span>About Us</span></a>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <center><h1 style="font-size:45px ;padding-top:30px; font-family:Georgia, 'Times New Roman', Times, serif; color:white;">Diabetes Detector</h1></center>
  <!-- form start  -->
  <div class="modal-wrap">
    <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
    <div class="modal-bodies">
      <div class="modal-body modal-body-step-1 is-showing">
        <div class="title">Step 1</div>
        <div class="description">Hello there, Let's start.</div>
        <form>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <div class="text-center">
            <div class="button">Proceed</div>
          </div>
        </form>
      </div>
      <div class="modal-body modal-body-step-2">
        <div class="title">Step 2</div>
        <div class="description">Details!!</div>
        <form action="" method="POST">
          
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Preg<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="preg" name="preg"placeholder="Pregnancies">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Glucose<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="gulc" name="gluc" placeholder="Glucose">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">BP<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="bp" name="bp"placeholder="BloodPressure">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Skin <br> Thickness <span class="form-required"></span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="st" name="st" placeholder="SkinThickness ">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Ins<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="ins" name="ins" placeholder="Insulin">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">BMI<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number"  step="0.01" class="form-control" name="bmi" id="bmi" placeholder="BMI">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Diabetes <br> Pedigree<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number"  step="0.01" class="form-control" id="DiaPedi" name="DiaPedi" placeholder="DiabetesPedigree">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Age<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="Age" name="Age" placeholder="Age">
            </div>
          </div>

          <div class="text-center fade-in">
            <button type="submit" class="button">Result</button>
          </div>

        </form>
      </div>
      <div class="modal-body modal-body-step-3">
        <div class="title">Here you Go!</div>
        <div class="description">result</div>
        <div class="text-center">
          <div class="button">Done</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="rerun-button">Recheck</div>
  </div>
  <!-- form end  -->



  <div class="container content">
    <h2 style="color: white; font-size: 30px;padding: 0 12px;">More about it.....</h2>
    <div class="raw">
        <div class="col-md-4 text-center" style="opacity: 1;">
            <div class="content-box">
                <!-- <img alt="Real-time information" title="Real-time information" class="finbyz-icon img-responsive"
                    src="https://finbyz.tech/svg/icon%20Real-time%20information.svg"> -->
                <h4 class="content-box-title" style="font-weight: bolder;">Information</h4>
                <p class="content-box-sub">
                    <li> Diabetes is a disease that occurs when your blood glucose is too high. Blood glucose is
                        your main source of energy and comes from the
                        food
                        you eat. </li>
                    <li>Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be
                        used for energy. Sometimes your body doesn’t make enough or any insulin or doesn’t use
                        insulin well. Glucose then stays in your blood and doesn’t reach your cells.</li>
                    <li>Over time, having too much glucose in your blood can cause diabetes.</li>

                </p>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box">
                <!-- <img alt="Higher Productivity" title="Higher Productivity" class="finbyz-icon img-responsive"
                    src="https://finbyz.tech/svg/icon%20Higher%20Productivity.svg"> -->
                <h4 class="content-box-title" style="font-weight: bolder;">Symptoms</h4>
                <p class="content-box-sub">
                    <li>Urinate a lot, often at night</li>
                    <li>Are very thirsty</li>
                    <li>Lose weight without trying</li>
                    <li>Are very hungry</li>
                    <li>Have blurry vision</li>
                    <li>Have numb or tingling hands or feet</li>
                    <li> Feel very tired</li>
                    <li> Have very dry skin</li>
                    <li>Have sores that heal slowly</li>
                    <li> Have more infections than usual</li>
                </p>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box">
                <!-- <img alt="Improved Collaboration" title="Improved Collaboration" class="finbyz-icon img-responsive"
                    src="https://finbyz.tech/svg/icon%20Improved%20Collaboration.svg"> -->
                <h4 class="content-box-title" style="font-weight: bolder;">Risks</h4>
                <p class="content-box-sub">Over time, high blood glucose leads to problems such as:
                    <li>Heart disease</li>
                    <li>Stroke</li>
                    <li>Kidney disease</li>
                    <li>Eye problems</li>
                    <li>Dental disease</li>
                    <li>Nerve damage</li>
                    <li>Foot problems</li>

                </p>
            </div>
        </div>
    </div>
</div>


  <footer>
    <center>
      <p>&copy; Hash 2021. All rights reserved | Made with <i class="fas fa-heartbeat" style="color: red;"></i></p>
    </center>
  </footer>

  <!-- <script type="text/javascript" src="java.js"></script> -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>

  <!-- form script start  -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="{{url_for('static', filename='js/formscript1.js')}}"></script>
  <!-- form script end  -->

</body>

</html>