<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Heart Attack | HealTrace</title>
  <script src="https://kit.fontawesome.com/a507955c58.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="{{url_for('static', filename='images/logo2.png')}}" rel="icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

  <!-- form link start  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <!-- form link end  -->

</head>

<body>

  <div class='particle-network-animation'>
  </div>
  <div class="header">

    <nav class="navbar navbar-default" id="start">
      <div class="navbar-header">
        <div id="mobilelogo"><a href="index.html" class="logo"> <img src="{{url_for('static', filename='images/logo3.png')}}" alt="Logo" height="80px"
              width="80px"> </a></div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="navbar navbar-right ">
          <a href="index.html" class="logo"> <img src="{{url_for('static', filename='images/logo3.png')}}" alt="Logo" height="80px" width="80px"> </a>
          <ul>
            <a  href="index.html"><span>Home</span></a>
            <a href="tumor.html"><span>Tumor</span></a>
            <a class="active" href="heart_attack.html"><span>Heart Attack</span></a>
            <a href="diabetes.html"><span>Diabetes</span></a>
            <a href="corona.html"><span>Coronavirus</span></a>
            <a href="about.html"><span>About Us</span></a>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <center><h1 style="font-size:45px ;padding-top:30px; font-family:Georgia, 'Times New Roman', Times, serif; color:white;">Heart Attack Detector</h1></center>

  <!-- form start  -->
  <div class="modal-wrap">
    <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
    <div class="modal-bodies">
      <div class="modal-body modal-body-step-1 is-showing">
        <div class="title">Step 1</div>
        <div class="description">Hello there, Let's start.</div>
        <form action="" method="POST">
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <div class="text-center">
            <div class="button">Proceed</div>
          </div>
        </form>
      </div>
      <div class="modal-body modal-body-step-2">
        <div class="title">Step 2</div>
        <div class="description">Details!!</div>
        <form action="#" method="POST">
          
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Age<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name ="Age" id="Age" placeholder="Age">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">TotChol<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="TotChol" id="TotChol" placeholder="Cholesterol Level">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">SysBP<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="SysBP" name="SysBP" placeholder="Systolic Blood Pressure">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">DiaBP<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="DiaBP" name="DiaBP"  placeholder="DiaBP">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">BMI<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" step="0.01" class="form-control" name="BMI" id="BMI" placeholder="Body Mass Index">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Heart rate<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control"  name="Heart_rate" id="Heart_rate" placeholder="Heart rate">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Glucose<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="Glucose" id="inputEmail3" placeholder="Body Glucose Level">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Gender<span class="form-required">*</span></label>
            <div class="col-sm-10">
              <select class="input" name="gender" required="">
                <option value="Male"> Male </option>
                <option value="Female"> Female </option>
                
              </select>
            </div>
          </div>

          <div class="text-center fade-in">
            <button type="submit" class="button">Result</button>
          </div>

        </form>
      </div>
      <div class="modal-body modal-body-step-3">
        <div class="title">Here you Go!</div>
        <div class="description">{{result}}</div>
        <div class="text-center">
          <div class="button">Done</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="rerun-button">Recheck</div>
  </div>
  <!-- form end  -->



  <!-- <div class="container ">
    <h2 style="text-align: center; color: white;">Heart Attack</h2>
</div> -->

<div class="container content">
  <h2 style="color: white; font-size: 30px;padding: 0 12px;">More about it.....</h2>
    <div class="raw">
        <div class="col-md-4 text-center" style="opacity: 1;">
            <div class="content-box">
                <!-- <img alt="Real-time information" title="Real-time information" class="finbyz-icon img-responsive"
                    src="https://finbyz.tech/svg/icon%20Real-time%20information.svg"> -->
                <h4 class="content-box-title" style="font-weight: bolder;">Information</h4>
                <p class="content-box-sub">
                    <li>A heart attack occurs when the flow of blood to the heart is blocked. The blockage is most
                        often a buildup of fat, cholesterol and other substances, which form a plaque in the
                        arteries that feed the heart (coronary arteries).
                    </li>
                    <li>A heart attack, also called a myocardial infarction, can be fatal, but treatment has
                        improved dramatically over the years.</li>
                </p>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box">
                <!-- <img alt="Improved Collaboration" title="Improved Collaboration" class="finbyz-icon img-responsive"
                    src="https://finbyz.tech/svg/icon%20Improved%20Collaboration.svg"> -->
                <h4 class="content-box-title" style="font-weight: bolder;">Causes</h4>
                <p class="content-box-sub">
                    <li>Tobacco</li>
                    <li>High Blood Pressure</li>
                    <li>Obesity</li>
                    <li>Diabetes</li>
                    <li>Metabolic Syndrome</li>
                    <li>Lack of physical activity</li>
                    <li>Family History</li>
                    <li>Stress</li>

                </p>
            </div>
        </div>
        <div class="col-md-4" style="opacity: 1;">
            <div class="content-box">
                <!-- <img alt="Higher Productivity" title="Higher Productivity" class="finbyz-icon img-responsive"
                    src="https://finbyz.tech/svg/icon%20Higher%20Productivity.svg"> -->
                <h4 class="content-box-title" style="font-weight: bolder;">Symptoms</h4>
                <p class="content-box-sub">
                    Common heart attack signs and symptoms include:

                    <li>Pressure, tightness, pain, or a squeezing or aching sensation in your chest or arms that may
                        spread to your neck, jaw or back</li>
                    <li>Nausea, indigestion, heartburn or abdominal pain</li>
                    <li>Shortness of breath</li>
                    <li>Cold sweat</li>
                    <li>Fatigue</li>
                    <li>Lightheadedness or sudden dizziness</li>
                </p>
            </div>
        </div>

    </div>
</div>



  <footer>
    <center>
      <p>&copy; Hash 2021. All rights reserved | Made with <i class="fas fa-heartbeat" style="color: red;"></i></p>
    </center>
  </footer>

  <!-- <script type="text/javascript" src="java.js"></script> -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>

  <!-- form script start  -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="{{url_for('static', filename='js/formscript.js')}}"></script>
  <!-- form script end  -->

</body>

</html>