<html>
   <body>
    <form id="form" action="http://localhost:5000/upload" enctype="multipart/form-data" method="POST">

        <!--            This form will redirect to the route '/upload' after submission               -->  
      
          <label class="custom-file-upload">
            <img src="{{url_for('static', filename='uploader/upload.png')}}" width="18%" height="18%">
            <input type="file" name="file" id="file" onchange="document.getElementById('upload').click()" />
            Upload
          </label>
      
          <input id="upload" type="Submit" value="Upload" style="display: none;" />
      
        </form>
   </body>
</html>